<div ng-controller="DelayViewCtrl as ctrl">

  <table class="table table-hover">
    <thead>
    <tr>
      <th>場所名</th>
      <td>状態</td>
      <td>間隔</td>
      <td>メッセージ</td>
      <td>更新日時</td>
      <td ng-show="isAdmin" class="button"></td>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="place in ctrl.places">
      <th>{{ place.name }}</th>
      <td>
        <span ng-show="place.item.error"
              class="bg-danger text-danger">取得失敗</span>
        <span ng-show="place.item.isPostponed"
              class="bg-danger">中止</span>
        <span ng-show="!place.item.error && !place.item.isPostponed && place.item.delay > 0"
              class="bg-warning">遅れ</span>
        <span ng-show="!place.item.error && !place.item.isPostponed && place.item.delay < 0"
              class="bg-info">前倒し</span>
        <span ng-show="!place.item.error && !place.item.isPostponed && place.item.delay === 0"
              class="bg-success">定刻通り</span>
      </td>
      <td>{{ ctrl.abs(place.item.delay) }}分</td>
      <td>{{ place.item.message }}</td>
      <td>{{ place.item.updatedAt | date:"MM/dd HH:mm:ss" }}</td>
      <td ng-show="isAdmin">
        <a class="btn btn-info" role="button"
           ui-sref="delay.input.edit({ id: place.id })"><span
          class="glyphicon glyphicon-edit"></span>編集</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
