<div ng-controller="DelayViewCtrl as ctrl">

  <div class="row">
    <div class="alert alert-danger text-center col-sm-6" role="alert"
         style="font-size: larger">
      <strong>遅延の時間は目安です。</strong>遅れ(進み)が突然解消される場合もあります。
    </div>

    <div class="alert alert-info text-center col-sm-6" role="alert"
         style="font-size: larger">
      {{ ctrl.now | date:"MM月dd日 HH時mm分ss秒" }} 現在の情報です。
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-lg-3" ng-repeat="place in ctrl.places">
      <div class="panel panel-{{ place.id }}">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ place.name }}
          </h3>
        </div>

        <div class="panel-body">
          <div class="delay" ng-hide="place.item.isPostponed">
            <div class="time">
              {{ ctrl.abs(place.item.delay) }}<span>分</span>
            </div>
            <div class="status">
              <span ng-show="place.item.delay > 0">遅れ</span>
              <span ng-show="place.item.delay < 0">前倒し</span>
              <span ng-show="place.item.delay === 0">定刻通り</span>
            </div>
          </div>
          <div class="postponed" ng-show="place.item.isPostponed">
            本日開催のイベントは <span>中止</span> となりました。
          </div>

          <div class="alert" role="alert"
               ng-class="{ 'alert-info':!place.item.error, 'alert-danger':place.item.error }"
               ng-show="place.item.message">
            {{ place.item.message }}
          </div>
        </div>

        <table class="table table-delay" ng-hide="place.item.error || place.item.isPostponed">
          <tbody>
          <tr ng-repeat="calendar in ctrl.calendarData[place.id]" class="delay-table-row index-{{ $index }}">
            <th ng-switch on="$index">
              <span ng-switch-when="0">現在</span>
              <span ng-switch-when="1">次</span>
              <span ng-switch-when="2">次の次</span>
            </th>
            <td>
              {{ calendar.summary }}
            </td>
          </tr>
          </tbody>
        </table>

        <div class="panel-footer text-right">
          更新日時： {{ place.item.updatedAt | date:"MM月dd日 HH時mm分ss秒" }}
        </div>

      </div>

    </div>
  </div>
</div>
