<div ng-controller="DelayInputCtrl as ctrl">
    <form name="form" role="form" novalidate>
        <fieldset ng-disabled="ctrl.lock">

            <div class="form-group">
                <label>会場</label>

                <div class="btn-group btn-group-justified">
                    <label class="btn btn-default" ng-model="ctrl.place" btn-radio="'bizan'">
                        眉山林間ステージ
                    </label>
                    <label class="btn btn-default" ng-model="ctrl.place" btn-radio="'shinmachi'">
                        新町橋東公園ステージ
                    </label>
                    <label class="btn btn-default" ng-model="ctrl.place" btn-radio="'corne'">
                        コルネの泉
                    </label>
                    <label class="btn btn-default" ng-model="ctrl.place" btn-radio="'cinema_entry'">
                        CINEMA前
                    </label>
                    <label class="btn btn-default" ng-model="ctrl.place" btn-radio="'awagin'">
                        あわぎんホール小ホール
                    </label>
                    <label class="btn btn-default" ng-model="ctrl.place" btn-radio="'bunka'">
                        徳島市立文化センター
                    </label>
                </div>

                <input type="hidden" ng-model="ctrl.place" required>
            </div>

            <div class="form-group">
                <label>遅延時間</label>

                <div class="input-group">
                    <input type="number"
                           class="form-control"
                           ng-model="ctrl.item.delay"

                           required>
                    <span class="input-group-addon">分</span>
                </div>

                <p class="help-block">
                    遅れている場合は 正の数、早く進んでいる場合はー（負の数）で入力して下さい。<br>
                </p>

                <div class="well">
                    <ul>
                        <li>20分遅れている場合："20"と入力</li>
                        <li>10分早く進んでいる場合："-10"と入力</li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label>備考欄(スズメバチ情報など)</label>
                <input type="text"
                       class="form-control"
                       ng-model="ctrl.item.message"
                       placeholder="メッセージを入力(任意)...">
            </div>

            <accordion>
                <accordion-group heading="高度な設定">
                    <div class="form-group">
                        <div class="checkbox text-danger">
                            <label>
                                <input type="checkbox" ng-model="ctrl.item.isPostponed">
                                この会場のイベントに中止フラグを立てる（目立つ色で中止をアピールします！）
                            </label>
                        </div>
                    </div>
                </accordion-group>
            </accordion>

            <p class="bg-danger">
                この情報は登録後直ちに公開されます。内容を削除することは出来ません。<br>
                もし誤った情報を入力した場合は、【新しい情報を登録】してください。
            </p>

            <alert type="{{ ctrl.alert.type }}"
                   close="ctrl.closeAlert()"
                   ng-show="ctrl.alert">
                {{ctrl.alert.msg}}
            </alert>

            <input type="submit"
                   value="登録"
                   class="btn btn-lg btn-primary btn-block"
                   ng-disabled="form.$invalid"
                   ng-click="ctrl.click()">
        </fieldset>
    </form>
</div>