<table class="table table-hover table-event" ng-controller="EventListDayCtrl as ctrl">
  <thead>
  <tr>
    <td ng-show="ctrl.isAdmin"></td>
    <th>イベント名</th>
    <td>チケット配布場所</td>
    <td>配布開始時刻</td>
    <td>料金・備考など</td>
    <th>ステータス</th>
    <td ng-show="ctrl.isAdmin"></td>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="item in ctrl.items"
      ng-class="{
          info: !item.isFinished && item.isRunning,
          danger: item.isFinished
        }">
    <td ng-show="ctrl.isAdmin">
      <span class="text-info glyphicon glyphicon-eye-open" ng-show="item.isPublic"></span>
      <span class="text-warning glyphicon glyphicon-eye-close" ng-hide="item.isPublic"></span>
    </td>
    <th>{{ item.title }}</th>
    <td>{{ item.place }}</td>
    <td>{{ item.startAt | date:"HH時mm分〜" }}</td>
    <td>{{ item.message }}</td>
    <th>
      <span ng-show="item.isFinished">配布終了</span>
      <span ng-show="!item.isFinished && item.isRunning">配布中</span>
      <span ng-show="!item.isFinished && !item.isRunning">準備中</span>
    </th>
    <td ng-show="ctrl.isAdmin">
      <a class="btn btn-info"
         ui-sref="event.edit({ id: item.Id })"
         role="button">
        <span class="glyphicon glyphicon-edit"></span>編集</a>
    </td>
  </tr>
  </tbody>

</table>
