<nav class="navbar navbar-default navbar-fixed-top"
     role="navigation"
     ng-controller="HeaderCtrl as header"
     ng-hide="root.hideHeader">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"
         href="#">まち☆つーるず</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: $state.includes('traffic') }">
          <a ui-sref="traffic">運行情報</a>
        </li>
        <li ng-class="{ active: $state.includes('event') }">
          <a ui-sref="event">整理券情報</a>
        </li>
        <!-- probably release next version... may be...
        <li ng-class="{ active: $state.includes('ticket') }">
          <a ui-sref="ticket">整理券情報</a>
        </li>
        -->
        <li ng-class="{ active: $state.includes('news') }">
          <a ui-sref="news">ニュース</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="header.loggedin"><a ng-href="{{ header.apiUrl }}/auth/login">ログイン</a></li>
        <li ng-show="header.loggedin"><a ng-href="{{ header.apiUrl }}/auth/logout">ログアウト</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="toggle-header hidden-xs" ng-click="root.hideHeader = !root.hideHeader">
  <span class="glyphicon"
        ng-class="{
      'glyphicon-folder-open':  !root.hideHeader,
      'glyphicon-folder-close':  root.hideHeader,
      }"></span>
</div>
