<div ng-controller="NewsInputCtrl as ctrl">
  <form name="form"
        role="form"
        novalidate>
    <fieldset ng-disabled="ctrl.lock">
      <div class="form-group">
        <label>ニュースの一意なID</label>
        <input type="text"
               class="form-control"
               ng-model="ctrl.newsId"
               placeholder="ニュースIDを入力(英数字のみ)"
               ng-pattern="/^[a-zA-Z0-9-_]*$/"
               ng-disabled="ctrl.itemIdParam"
               required>
      </div>

      <div class="form-group">
        <label>タイトル</label>
        <input type="text"
               class="form-control"
               ng-model="ctrl.newsItem.Title"
               required>
      </div>

      <div class="form-group">
        <label>本文</label>
        <textarea class="form-control"
                  rows="8"
                  required
                  ng-model="ctrl.newsItem.Article"></textarea>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   value=""
                   ng-model="ctrl.newsItem.IsPublic">
            記事を公開する
          </label>
        </div>
      </div>

      <p class="bg-danger">
        この情報は登録後直ちに公開されます。内容を削除することは出来ません。<br>
        もし誤った情報を入力した場合は、【同じIDで記事を登録】してください。
      </p>

      <alert type="{{ ctrl.alert.type }}"
             close="ctrl.closeAlert()"
             ng-show="ctrl.alert">{{ctrl.alert.msg}}
      </alert>

      <div class="row">
        <button type="submit"
                class="btn btn-primary btn-lg col-sm-4 col-sm-offset-4 col-xs-12"
                ng-disabled="form.$invalid"
                ng-click="ctrl.click()">登録
        </button>
      </div>
    </fieldset>
  </form>
</div>