<div ng-controller="NewsListCtrl as ctrl">
  <table class="table table-hover">
    <thead>
    <tr>
      <td ng-show="ctrl.isAdmin"> </td>
      <td>記事ID</td>
      <td>投稿日</td>
      <th>タイトル</th>
      <td ng-show="ctrl.isAdmin"> </td>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="item in ctrl.items">
      <td ng-show="ctrl.isAdmin">
        <span class="text-info glyphicon glyphicon-eye-open" ng-show="item.IsPublic"></span>
        <span class="text-warning glyphicon glyphicon-eye-close" ng-hide="item.IsPublic"></span>
      </td>
      <td>{{ item.Id }}</td>
      <td>{{ item.createdAt | date:"yyyy/MM/dd HH:mm" }}</td>
      <th>{{ item.Title }}</th>
      <td ng-show="ctrl.isAdmin">
        <a class="btn btn-info"
           ui-sref="news.edit({ id: item.Id })"
           role="button">
          <span class="glyphicon glyphicon-edit"></span>編集</a>
      </td>
    </tr>
    </tbody>

  </table>
</div>