<div ng-controller="TrafficViewCtrl as ctrl">

  <div class="alert alert-danger text-center"
       role="alert"
       style="font-size: larger">
    <strong>待ち時間は目安です。</strong>道路事情と運行状況により、実際と異なる場合があります。
  </div>

  <div class="row">
    <div class="col-sm-6"
         ng-repeat="transit in ctrl.transits">
      <div
          class="panel panel-{{ transit.id }}">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ transit.name }}
          </h3>
        </div>

        <table class="table">
          <thead>
          <tr>
            <th rowspan="3"
                class="station col-xs-5">
              駅名
            </th>
            <td class="waiting col-xs-7">
              待ち時間
            </td>
          </tr>
          <tr>
            <td class="message col-xs-7">
              備考
            </td>
          </tr>
          <tr>
            <td class="updatedAt col-xs-7">
              更新日時
            </td>
          </tr>
          </thead>

          <tbody ng-repeat="place in transit.places">
          <tr>
            <th rowspan="3"
                class="station">
              {{ place.name }}<br>
              <span ng-show="place.direction == 'inbound'">上り方向</span>
              <span ng-show="place.direction == 'outbound'">下り方向</span>
            </th>
            <td class="waiting">
              {{ place.item.Waiting }} 分
            </td>
          </tr>
          <tr>
            <td class="message">
              {{ place.item.Message }}&nbsp;
            </td>
          </tr>
          <tr>
            <td class="updatedAt">
              {{ place.item.updatedAt | date:"MM月dd日 HH時mm分ss秒" }}&nbsp;
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>