<table class="table table-hover">
  <thead>
  <tr>
    <td>順序</td>
    <td></td>
    <th>名前</th>
    <td>説明</td>
    <td ng-show="isAdmin" class="button"></td>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="marker in ctrl.item.markers">
    <td>{{ marker.order }}</td>
    <td>
      <static-gmap
          size="140x105"
          sensor="false"
          zoom="17"
          markers="{ color: 'red', coords: [marker.coords.latitude, marker.coords.longitude] }"></static-gmap>
    </td>
    <th>{{ marker.name }}</th>
    <td>{{ marker.description }}</td>
    <td ng-show="isAdmin">
      <button type="button" class="btn btn-danger" ng-click="ctrl.deleteMarker($index)">
        <i class="glyphicon glyphicon-trash"></i> 削除
      </button>
    </td>
  </tr>
  </tbody>
</table>