<div ng-controller="DelayViewCtrl as ctrl">

  <div class="alert alert-danger text-center" role="alert"
       style="font-size: larger">
    <strong>遅延の時間は目安です。</strong>遅れ(進み)が突然解消される場合もあります。
  </div>

  <div class="alert alert-info text-center" role="alert"
       style="font-size: larger">
    {{ ctrl.now | date:"MM月dd日 HH時mm分ss秒" }} 現在の情報です。
  </div>

  <div class="row">
    <div class="col-sm-4" ng-repeat="(key, place) in ctrl.places">
      <div class="panel panel-{{ key }}">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ place.name }}
          </h3>
        </div>

        <div class="panel-body">
          <div class="delay" ng-hide="place.item.isPostponed">
            <div class="time">
              {{ ctrl.abs(place.item.delay) }} <span>分</span>
            </div>
            <div class="status">
              <span ng-show="place.item.delay > 0">遅れています</span>
              <span ng-show="place.item.delay < 0">早く進んでいます</span>
              <span ng-show="place.item.delay === 0">定刻通りです</span>
            </div>
          </div>
          <div class="postponed" ng-show="place.item.isPostponed">
            本日開催のイベントは <span>中止</span> となりました。
          </div>

          <div class="alert alert-info" role="alert"
               ng-show="place.item.message">
            {{ place.item.message }}
          </div>
        </div>

        <table class="table table-delay" ng-hide="place.item.error || place.item.isPostponed">
          <tbody>
          <tr ng-repeat="calendar in ctrl.calendarData[key]" class="delay-table-row index-{{ $index }}">
            <th ng-switch on="$index">
              <span ng-switch-when="0">現在のイベント</span>
              <span ng-switch-when="1">次のイベント</span>
              <span ng-switch-when="2">次の次のイベント</span>
            </th>
            <td>
              {{ calendar.summary }}
            </td>
          </tr>

          <tr ng-hide="ctrl.calendarData[key]">
            <td class="delay-item-is-empty info">
              本日の {{ place.name }} での<br>イベントはすべて終了いたしました
            </td>
          </tr>

          </tbody>
        </table>

        <div class="panel-footer text-right">
          更新日時： {{ place.item.updatedAt | date:"MM月dd日 HH時mm分ss秒" }}
        </div>

      </div>

    </div>
  </div>
</div>