<div class="row">
  <div class="col-sm-8">
    <ui-gmap-google-map
        ng-if="ctrl.showMaps"
        center='ctrl.map.center' zoom='ctrl.map.zoom'>
      <ui-gmap-marker
          coords="ctrl.marker.coords"
          options="ctrl.marker.options"
          events="ctrl.marker.events"
          idkey="ctrl.marker.id">
      </ui-gmap-marker>
    </ui-gmap-google-map>
    <p class="text-right">
      <button class="btn btn-sm" ng-click="ctrl.moveMarkerToCenter()">
        <i class="glyphicon glyphicon-map-marker"></i>中央にマーカーを移動
      </button>
    </p>
  </div>
  <div class="col-sm-4">
    <form name="mapItemForm">
    <fieldset ng-disabled="ctrl.lock">

      <div class="form-group">
        <label for="form-latitude">緯度(Latitude):</label>
        <input type="text" class="form-control input-sm" id="form-latitude" required
               ng-model="ctrl.marker.coords.latitude"/>
      </div>
      <div class="form-group">
        <label for="form-longitude">経度(Longitude):</label>
        <input type="text" class="form-control input-sm" id="form-longitude" required
               ng-model="ctrl.marker.coords.longitude"/>
      </div>
      <div class="form-group">
        <label for="form-name">名前:</label>
        <input type="text" class="form-control input-sm" id="form-name" required
               ng-model="ctrl.place.name"/>
      </div>
      <div class="form-group">
        <label for="form-description">説明:</label>
        <input type="text" class="form-control input-sm" id="form-description"
               ng-model="ctrl.place.description"/>
      </div>

      <alert type="{{ ctrl.alert.type }}"
             close="ctrl.closeAlert()"
             ng-show="ctrl.alert">{{ctrl.alert.msg}}
      </alert>

      <input type="submit" value="位置の追加" class="btn btn-primary"
             ng-disabled="mapItemForm.$invalid" ng-click="ctrl.postMapMarker()">

    </fieldset>
    </form>
  </div>
</div>
