<div class="text-right">
  <a class="btn btn-info" ui-sref="maps.input" ng-show="isAdmin">
    <i class="glyphicon glyphicon-plus"></i> 新しいマップを作る
  </a>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <td ng-show="isAdmin"></td>
    <td>ID</td>
    <th>名前</th>
    <td>作成日</td>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="item in ctrl.items"
      ui-sref="maps.detail({id:item.id})">
    <td ng-show="isAdmin">
      <span class="text-info glyphicon glyphicon-eye-open" ng-show="item.isPublic"></span>
      <span class="text-warning glyphicon glyphicon-eye-close" ng-hide="item.isPublic"></span>
    </td>
    <td>{{ item.id }}</td>
    <th>{{ item.name }}</th>
    <td>{{ item.createdAt | date:"yyyy/MM/dd HH:mm" }}</td>
  </tr>
  </tbody>

</table>
