/* Base CSS */
body {
    padding-bottom: 20px;
}
.showHeader {
    padding-top: 70px;
}
.hideHeader {
    padding-top: 20px;
}

.nav-tabs {
    margin-bottom: 20px;
}

/* ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* header refresh */
div.toggle-header {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 3px;
}

/* panel */
div.panel {
  border-color: #d0d0d0;
}
div.panel .panel-heading {
  background-color: #d0d0d0;
  border-color: #d0d0d0;
}

div.panel-ropeway {
    border-color: #62ff9e;
}
div.panel-ropeway .panel-heading {
    background-color: #62ff9e;
    border-color: #62ff9e;
}

div.panel-bus {
    border-color: #ffcf64;
}
div.panel-bus .panel-heading {
    background-color: #ffcf64;
    border-color: #ffcf64;
}

div.panel-museum {
  border-color: #87c5ff;
}
div.panel-museum .panel-heading {
  background-color: #87c5ff;
  border-color: #87c5ff;
}

div.panel-bizan {
    border-color: #a0de14;
}

div.panel-bizan .panel-heading {
    background-color: #a0de14;
    border-color: #a0de14;
}

div.panel-shinmachi {
    border-color: #a0ceff;
}

div.panel-shinmachi .panel-heading {
    background-color: #a0ceff;
    border-color: #a0ceff;
}

div.panel-ryogoku {
    border-color: #def630;
}

div.panel-ryogoku .panel-heading {
    background-color: #def630;
    border-color: #def630;
}

div.panel-corne{
    border-color: #ffc67b;
}

div.panel-corne .panel-heading {
    background-color: #ffc67b;
    border-color: #ffc67b;
}

div.panel-cinema_entry{
    border-color: #ff8b87;
}

div.panel-cinema_entry .panel-heading {
    background-color: #ff8b87;
    border-color: #ff8b87;
}



div.panel-awagin{
    border-color: #3ffdff;
}

div.panel-awagin .panel-heading {
    background-color: #3ffdff;
    border-color: #3ffdff;
}

div.panel-bunka{
    border-color: #ffa8b5;
}

div.panel-bunka .panel-heading {
    background-color: #ffa8b5;
    border-color: #ffa8b5;
}

/* table globals */
tbody td,
tbody th {
    vertical-align: middle !important;
}

table tr td.button {
    white-space: nowrap;
    width: 1px;
}


/* traffic info */
th.station.station.station {
    text-align: center;
    vertical-align: middle;
}
tbody td.waiting {
    font-size: 40pt;
    font-weight: bold;
}
tbody td.waiting span {
    font-size: 0.8em;
}

/* event info */
.event-nav {
    font-size: x-large;
}

.table-event tbody tr {
    height: 50px !important;
}

/* delay info */
.delay {
    text-align: center;
}
.delay .time {
    font-size: 40pt;
    font-weight: bold;
}
.delay .time span {
    font-size: 0.8em;
}
.delay .status {
    font-size: 20pt;
}
.panel-body .alert {
    font-size: 16pt;
    margin-top: 15px;
}

table.table-delay {
    width: 100%;
    table-layout: fixed;
    /*word-wrap: break-word;*/
}
tr.delay-table-row th {
    width: 30%;
    text-align: right;
}
tr.delay-table-row td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    width: 70%;
    max-width: 70%;
}

.delay-item-is-empty {
    text-align: center;
    font-size: x-large;
}

.postponed {
    padding-top: 20px;
    padding-bottom: 20px;

    color: #ffffff;
    background-color: #ff0000;
    text-align: center;
    font-size: 20pt;
}
.postponed span {
    display: block;
    font-weight: bold;
    font-size: 80pt;
}
